Repository IIoW/IIslander: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

revert: spoilores desc
  src/modules/dmCommands/commands/spoilores.js
Due: eslint --fix, prettier --write

chore: add comma
  src/modules/dmCommands/commands/operatingSystem.js
Due: eslint --fix, prettier --write

chore: grammar and consistency in dm commands (#81)
  src/modules/dmCommands/commands/cooldownNotifications.js
  src/modules/dmCommands/commands/factions.js
  src/modules/dmCommands/commands/help.js
  src/modules/dmCommands/commands/operatingSystem.js
  src/modules/dmCommands/commands/spoilores.js
  src/modules/dmCommands/commands/tweets.js
Due: eslint --fix, prettier --write

chore: reslove pr issues
  src/dto/OffenceDto.js
  src/dto/UserDto.js
  src/modUtil.js
  src/modules/modCommands/commands/autoresponse.js
  src/modules/modCommands/commands/move.js
  src/modules/modCommands/commands/nickname.js
  src/modules/modCommands/commands/penalize.js
  src/modules/modCommands/commands/timeout.js
  src/modules/modCommands/commands/warn.js
Due: eslint --fix, prettier --write

feat: allow ar ls all.
  src/modules/modCommands/commands/autoresponse.js
Due: eslint --fix, prettier --write

chore: fix comma
  src/dto/UserDto.js
Due: eslint --fix, prettier --write

Revert "chore: fix comma"
  src/dto/UserDto.js
Due: eslint --fix, prettier --write

feat: add xp modes
  .env.example
  src/config.js
  src/modules/leveling/utils.js
Due: eslint --fix, prettier --write

feat: mod commands (#19)
  .env.example
  src/config.js
  src/constants/Emotes.js
  src/constants/OffenseDescriptions.js
  src/constants/OffenseMultiplier.js
  src/dto/OffenceDto.js
  src/dto/ResponseDto.js
  src/dto/UserDto.js
  src/modUtil.js
  src/modules/autoresponses/textResponses.js
  src/modules/modCommands/commands/autoresponse.js
  src/modules/modCommands/commands/help.js
  src/modules/modCommands/commands/move.js
  src/modules/modCommands/commands/nickname.js
  src/modules/modCommands/commands/offences.js
  src/modules/modCommands/commands/penalize.js
  src/modules/modCommands/commands/ping.js
  src/modules/modCommands/commands/purge.js
  src/modules/modCommands/commands/timeout.js
  src/modules/modCommands/commands/warn.js
  src/modules/modCommands/module.js
  src/modules/modCommands/processCommands.js
  src/util.js
  src/xpHandling.js
Due: eslint --fix, prettier --write

feat: add xp modes (#86)
  .env.example
  src/config.js
  src/modules/leveling/utils.js
Due: eslint --fix, prettier --write

chore: penalize on automod
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

feat: add more descriptive reason to automod penalize
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

fix: smh...
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

feat: penalize on automod (#87)
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

feat: add github issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: prettier --write

feat: add guild to helper debug
  src/helper/startEval.js
Due: eslint --fix, prettier --write

feat: add guild to helper debug (#92)
  src/helper/startEval.js
Due: eslint --fix, prettier --write

fix: invalid xp adding
  src/xpHandling.js
Due: eslint --fix, prettier --write

fix: invalid xp adding (#93)
  src/xpHandling.js
Due: eslint --fix, prettier --write

feat: better auto mod
  src/constants/Blacklist.js
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

chore: resolve pr changes
  src/constants/Blacklist.js
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

feat: better auto mod (#94)
  src/constants/Blacklist.js
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

feat: role managment
  .env.example
  src/config.js
  src/modules/interactions/buttons/steam.js
  src/modules/leveling/messages/messageDelete.js
  src/modules/welcome/module.js
  src/roles.js
  src/xpHandling.js
Due: eslint --fix, prettier --write

chore: resolve pr reviews
  .env.example
  src/modules/leveling/messages/messageDelete.js
  src/roles.js
Due: eslint --fix, prettier --write

chore: remove debug logs
  src/roles.js
Due: eslint --fix, prettier --write

feat: role managment (#98)
  .env.example
  src/config.js
  src/modules/interactions/buttons/steam.js
  src/modules/leveling/messages/messageDelete.js
  src/modules/welcome/module.js
  src/roles.js
  src/xpHandling.js
Due: eslint --fix, prettier --write

chore: fix eslint issues
  .eslintrc.json
  package.json
  src/modules/inlineCommands/commands/choose.js
  src/util.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: fix eslint issues (#101)
  .eslintrc.json
  package.json
  src/modules/inlineCommands/commands/choose.js
  src/util.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: responding to itself
  src/modules/autoresponses/textResponses.js
Due: eslint --fix, prettier --write

fix: empty regex triggers from strings
  src/modules/modCommands/commands/autoresponse.js
Due: eslint --fix, prettier --write

fix: ar botception & empty regex triggers (#104)
  src/modules/autoresponses/textResponses.js
  src/modules/modCommands/commands/autoresponse.js
Due: eslint --fix, prettier --write

feat: open source stuff
  .github/CODEOWNERS
  .github/workflows/codeql.yml
Due: prettier --write

chore: run prettier
  .github/workflows/codeql.yml
Due: prettier --write

chore: actually fix formatting
  .github/workflows/codeql.yml
Due: prettier --write

chore: remove temp fix
  .eslintrc.json
Due: prettier --write

chore: codeowners fixes
  .github/CODEOWNERS
Due: none

chore: actually fix codeowners (hopefully)
  .github/CODEOWNERS
Due: none

chore: remove to be done note from codeowners
  .github/CODEOWNERS
Due: none

chore: more codeowner stuff
  .github/CODEOWNERS
Due: none

chore: more codeowners
  .github/CODEOWNERS
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,json,md,yml}
