Repository IIoW/IIslander: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.js": "eslint --fix",
    "*.{js,json,md,yml}": "prettier --write"
}

chore: group better
  .github/renovate.json
Due: prettier --write

chore: no docker
  .github/renovate.json
Due: prettier --write

chore: remove pr limit
  .github/renovate.json
Due: prettier --write

fix(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update actions/cache action to v3
  .github/workflows/format.yml
Due: prettier --write

chore(deps): update actions/checkout action to v3
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/format.yml
Due: prettier --write

chore(deps): update actions/setup-node action to v3
  .github/workflows/format.yml
Due: prettier --write

chore(deps): update docker/build-push-action action to v3
  .github/workflows/build.yml
Due: prettier --write

chore(deps): update docker/login-action action to v2
  .github/workflows/build.yml
Due: prettier --write

chore(deps): update docker/setup-buildx-action action to v2
  .github/workflows/build.yml
Due: prettier --write

chore(deps): update docker/setup-qemu-action action to v2
  .github/workflows/build.yml
Due: prettier --write

chore(deps): update github/codeql-action action to v2
  .github/workflows/codeql.yml
Due: prettier --write

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update node.js to v18
  Dockerfile
Due: none

chore(ci): update actions
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/format.yml
Due: prettier --write

chore(ci): update actions (#245)
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/format.yml
Due: prettier --write

fix: update swearwords
  src/constants/Blacklist.js
Due: eslint --fix, prettier --write

fix: update swearwords (#246)
  src/constants/Blacklist.js
Due: eslint --fix, prettier --write

chore(deps): update dependency lint-staged to v12.5.0
  package.json
  yarn.lock
Due: prettier --write

iislander will no longer tolerate swearing
  src/constants/Messages.js
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

fixed linter issues
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

fix: give iislander a more reasonable tollarance
  src/constants/Awards.js
  src/constants/Blacklist.js
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: prettier --write

chore: review pr stuff
  src/constants/Blacklist.js
  src/constants/Messages.js
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

fix: stuff
  src/constants/Blacklist.js
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

fix: give iislander a more reasonable tolerance (#249)
  src/constants/Awards.js
  src/constants/Blacklist.js
  src/constants/Messages.js
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

fix: dev deps tag Fixes dev deps tag in renovate (hopefully)
  .github/renovate.json
  .github/workflows/build.yml
Due: prettier --write

fix: dev deps tag (#251)
  .github/renovate.json
  .github/workflows/build.yml
Due: prettier --write

fix(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: d.js v14
  package.json
  src/dto/EmbedPage.js
  src/dto/EmbedPageMessage.js
  src/index.js
  src/modules/dmCommands/commands/factions.js
  src/modules/dmCommands/commands/help.js
  src/modules/dmCommands/commands/settings.js
  src/modules/dmCommands/commands/steamOwner.js
  src/modules/dmCommands/commands/steamRequest.js
  src/modules/errorHandling/module.js
  src/modules/interactions/buttons/settings.js
  src/modules/leveling/awards/starboard.js
  src/modules/messagePreview/module.js
  src/modules/modCommands/commands/autoresponse.js
  src/modules/modCommands/commands/help.js
  src/modules/modCommands/commands/move.js
  src/modules/modCommands/commands/offences.js
  src/roles.js
  src/util.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: message content intent
  src/index.js
Due: eslint --fix, prettier --write

feat: better message preview
  src/modules/messagePreview/module.js
Due: eslint --fix, prettier --write

fix: stuff
  src/modules/automod/message.js
  src/modules/dmCommands/commands/factions.js
  src/modules/dmCommands/commands/settings.js
  src/modules/dmCommands/commands/spoilores.js
  src/modules/dmCommands/commands/steamRequest.js
  src/modules/interactions/buttons/factions.js
  src/modules/interactions/buttons/giveaway.js
Due: eslint --fix, prettier --write

only send messages when member is done with screening
  src/modules/welcome/module.js
Due: eslint --fix, prettier --write

user gets dm on join
  src/modules/welcome/module.js
Due: eslint --fix, prettier --write

forgot ignore condition
  src/modules/welcome/module.js
Due: eslint --fix, prettier --write

feat: screening (#260)
  src/modules/welcome/module.js
Due: eslint --fix, prettier --write

fix: ar ls
  src/modules/modCommands/commands/autoresponse.js
Due: eslint --fix, prettier --write
