Repository IIoW/IIslander: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.js": "eslint --fix",
    "*.{js,json,md,yml}": "prettier --write"
}

fixed issue where automod moderates servers which are not the default one
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

fixed formatting issues
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

fix: default export :D
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

chore(deps): change enmap source repo
  package.json
  yarn.lock
Due: prettier --write

chore: resolve pr issues
  .github/CODEOWNERS
  .github/workflows/codeql.yml
Due: prettier --write

chore: formatter go brrrrr
  .github/workflows/codeql.yml
Due: prettier --write

chore: update comment
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

folded if statement
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

fix: automodOnSpecificServer (#108)
  src/modules/automod/message.js
Due: eslint --fix, prettier --write

chore: open source stuff (#106)
  .github/CODEOWNERS
  .github/workflows/codeql.yml
Due: prettier --write

chore(deps): change enmap source repo (#109)
  package.json
  yarn.lock
Due: prettier --write

feat: add github issue templates (#111)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: prettier --write

fix: message link preview botception
  src/modules/messagePreview/module.js
Due: eslint --fix, prettier --write

chore: misc improvments
  .github/CODEOWNERS
  src/constants/Blacklist.js
  src/constants/Messages.js
  src/dto/ResponseDto.js
  src/dto/UserDto.js
  src/helper/index.js
  src/helper/main.js
  src/modUtil.js
  src/modules/automod/message.js
  src/modules/leveling/awards/reactions.js
  src/modules/modCommands/commands/autoresponse.js
  src/modules/modCommands/commands/move.js
  src/util.js
  src/xpHandling.js
Due: eslint --fix, prettier --write

fix: message link preview botception (#113)
  src/modules/messagePreview/module.js
Due: eslint --fix, prettier --write

feat: link preview permissions
  src/modules/messagePreview/module.js
Due: eslint --fix, prettier --write

feat: link preview permissions (#112)
  src/modules/messagePreview/module.js
Due: eslint --fix, prettier --write

chore: resolve pr issues
  src/constants/Blacklist.js
  src/modUtil.js
  src/modules/leveling/awards/reactions.js
  src/modules/modCommands/commands/autoresponse.js
Due: eslint --fix, prettier --write

chore(deps): update better-sqlite3
  yarn.lock
Due: none

chore: regenerate lockfile
  yarn.lock
Due: none

feat: firebase import & misc (#114)
  .github/CODEOWNERS
  src/constants/Blacklist.js
  src/constants/Messages.js
  src/dto/ResponseDto.js
  src/dto/UserDto.js
  src/helper/index.js
  src/helper/main.js
  src/modUtil.js
  src/modules/automod/message.js
  src/modules/leveling/awards/reactions.js
  src/modules/modCommands/commands/autoresponse.js
  src/modules/modCommands/commands/move.js
  src/util.js
  src/xpHandling.js
Due: eslint --fix, prettier --write

chore(deps): update better-sqlite3 & regenerate lockfile (#116)
  yarn.lock
Due: none

feat: giveaways
  src/dto/KeyDto.js
  src/helper/main.js
  src/modules/dmCommands/commands/steamRequest.js
  src/modules/interactions/buttons/giveaway.js
  src/util.js
Due: eslint --fix, prettier --write

feat: giveaways (#117)
  src/dto/KeyDto.js
  src/helper/main.js
  src/modules/dmCommands/commands/steamRequest.js
  src/modules/interactions/buttons/giveaway.js
  src/util.js
Due: eslint --fix, prettier --write

feat: add leaderboards
  .env.example
  src/config.js
  src/constants/Factions.js
  src/dto/FactionDto.js
  src/dto/UserDto.js
  src/helper/main.js
  src/loadModules.js
  src/modules/activityLeaderboard/module.js
  src/modules/errorHandling/module.js
  src/util.js
  src/xpHandling.js
Due: eslint --fix, prettier --write

chore: fix linting
  src/modules/activityLeaderboard/module.js
Due: eslint --fix, prettier --write

chore: resolve pr issues
  .env.example
  .github/CODEOWNERS
Due: none

chore: resolve pr issues
  src/dto/UserDto.js
  src/modules/activityLeaderboard/module.js
  src/util.js
  src/xpHandling.js
Due: eslint --fix, prettier --write

chore: resolve time issues
  src/modules/activityLeaderboard/module.js
Due: eslint --fix, prettier --write

bugfix: move error and error handling error
  src/modules/modCommands/commands/move.js
  src/modules/modCommands/processCommands.js
Due: eslint --fix, prettier --write

feat: add leaderboards (#120)
  .env.example
  .github/CODEOWNERS
  src/config.js
  src/constants/Factions.js
  src/dto/FactionDto.js
  src/dto/UserDto.js
  src/helper/main.js
  src/loadModules.js
  src/modules/activityLeaderboard/module.js
  src/modules/errorHandling/module.js
  src/util.js
  src/xpHandling.js
Due: eslint --fix, prettier --write

bugfix: move error and error handling error (#122)
  src/modules/modCommands/commands/move.js
  src/modules/modCommands/processCommands.js
Due: eslint --fix, prettier --write

bigfix: stop crashing on leaderboard update errors
  src/modules/activityLeaderboard/module.js
  src/modules/errorHandling/module.js
  src/modules/errorHandling/unhandledError.js
Due: eslint --fix, prettier --write

chore: crash and burn
  src/modules/errorHandling/unhandledError.js
Due: eslint --fix, prettier --write

chore: on failure
  docker-compose.yml
Due: prettier --write

smolfix: error on no faction data You guys really should test my pr's more.
  src/util.js
Due: eslint --fix, prettier --write

fix: stop crashing on leaderboard update errors (#123)
  docker-compose.yml
  src/modules/activityLeaderboard/module.js
  src/modules/errorHandling/module.js
  src/modules/errorHandling/unhandledError.js
  src/util.js
Due: eslint --fix, prettier --write

feat: giveaway role managment Added giveaway roles to db. Store giveaway roles as nums. Import giveaway roles as nums. Figure out old giveaway roles (cause they were not stored previously)
  .env.example
  src/dto/UserDto.js
  src/helper/main.js
  src/modules/dmCommands/commands/steamRequest.js
  src/modules/interactions/buttons/giveaway.js
  src/roles.js
Due: eslint --fix, prettier --write

feat: giveaway role managment (#124)
  .env.example
  src/dto/UserDto.js
  src/helper/main.js
  src/modules/dmCommands/commands/steamRequest.js
  src/modules/interactions/buttons/giveaway.js
  src/roles.js
Due: eslint --fix, prettier --write

fix: stuff fetch things now don't error on no query misc mod commands don't error more
  src/modules/modCommands/commands/autoresponse.js
  src/modules/modCommands/commands/move.js
  src/modules/modCommands/commands/nickname.js
  src/modules/modCommands/commands/purge.js
  src/util.js
Due: eslint --fix, prettier --write
